.App-w {
  min-height: 100vh;
  background-color: #e8e8e8; }

.inner-w {
  width: 95%;
  margin: auto; }

main.inner-w {
  margin-top: 1.5%;
  padding: 1%;
  background-color: white;
  border-radius: 6px;
  border: 1px solid #ccc; }
  main.inner-w.card1 {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1), 2px 2px 3px rgba(0, 0, 0, 0.2); }

.notification-add {
  color: #070;
  cursor: pointer;
  text-align: center;
  font-size: 25px; }

.notification-add:hover {
  color: #0b0; }

.table-refresh {
  color: #007;
  text-align: center;
  font-size: 25px; }

.table-refresh:hover {
  color: #00f; }
