.ControlPanel
{
   &.inner-w {
      margin-top: 1.5%;
      display:flex;
   }
   // .tabs {
   //    width: 750px;
   // }
   .flex-w {
      display: flex;
      width: 580px;
      justify-content: space-between;
      align-items: center;

   }
   .display-control {
      .active, :hover {
         background-color: #00c!important;
         color: white;
         font-weight: 600;
      }
      .btn {
         width: 120px;
      }
   }
   .add-btn {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      font-size: 40px;
      text-align: center;
      display: flex;
      background-color: #007800;
      &:hover {
         background-color: #00a800;
      }
      label {
         margin: auto;
         line-height: 0.9;
         font-weight: 400;
         color: white;

      }
   }
}
