header {
  background-color: #00f;
  border-bottom: 2px solid #009;
  padding: 15px 5px; }
  header .inner-w {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  header .left-w {
    flex-basis: 320px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  header h1 {
    color: white;
    margin: 0; }
  header h3 {
    color: white;
    margin: 0; }
  header .right-w {
    flex-basis: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  header .sign-btn, header .about-btn {
    color: white; }
    header .sign-btn:hover, header .sign-btn:focus, header .about-btn:hover, header .about-btn:focus {
      color: white; }
