.NotificationsTable {
   border-collapse: collapse;
   background-color: white;
      th {
         border-bottom: 1px solid #555;
      }
    // @media (max-width: 700px) {
    //     table, td, tr, th {
    //             display: block;
    //     }
    // }
   // .next-column, .details-column, .title-column{
   //    >div>div>div:before, div>div>div:after {
   //       height: 0;
   //    }
   // }

   .date3{
      text-align: center;
      font-size: 20px;
      color: #007;
      position: relative;
   }
   .day-picker-w {
      position: absolute;
      background-color: white;
      // background-color: rgba(255,255,255,0);
      border: 5px solid #007;
      border-radius: 10px;
      top: -60px;
      right: -60px;
      z-index: 100;
      padding:12px;
   }
   .importance-column {
      padding-left: 10px;
      padding-right: 10px;
      >div {
         width: 85px;
      }
   }
   input {
      border: none;
   }
   textarea {
      width: 100%;
      resize: none;
      border: none;
   }
   .title-column {
      width: 20%;
   }
   .next-column {
      width: 40%;
   }
   .details-column {
      width: 40%;
   }
   .notification-remove {
      color: #700;
       text-align: center;
       font-size: 20px
   }
   .notification-remove:hover {
       color:#b00;
   }
   .notification-done {
       color: #070;
       text-align: center;
       font-size: 20px;
       &:hover, &.completed{
          color: #0b0;

       }

   }

}
