.welcome-screen {
  display: flex;
  width: 100%;
  height: 100vh; }
  .welcome-screen .centered-box {
    flex-basis: 100%;
    margin-top: auto;
    margin-bottom: auto; }
  .welcome-screen .left-space {
    flex-basis: 29%; }
  .welcome-screen header {
    display: flex;
    align-items: center;
    padding: 80px 0; }
  .welcome-screen .flex-w {
    width: 42%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .welcome-screen h1 {
    color: white;
    margin: 0;
    font-size: 76px; }
  .welcome-screen h3 {
    color: white;
    margin: 0;
    font-size: 40px; }
  .welcome-screen .sign-btn {
    color: white; }
    .welcome-screen .sign-btn:hover, .welcome-screen .sign-btn:focus {
      color: white; }
  .welcome-screen .intro {
    display: flex;
    padding-top: 55px;
    line-height: 1.5; }
  .welcome-screen p {
    flex-basis: 42%;
    color: #000;
    font-size: 20px;
    font-weight: 500; }
  @media only screen and (max-width: 1500px) {
    .welcome-screen .left-space {
      flex-basis: 28%; }
    .welcome-screen .flex-w, .welcome-screen p {
      flex-basis: 44%; }
    .welcome-screen h1 {
      font-size: 71px; }
    .welcome-screen h3 {
      font-size: 35px; } }
  @media only screen and (max-width: 1400px) {
    .welcome-screen .left-space {
      flex-basis: 27%; }
    .welcome-screen .flex-w, .welcome-screen p {
      flex-basis: 46%; }
    .welcome-screen h1 {
      font-size: 66px; }
    .welcome-screen h3 {
      font-size: 32px; }
    .welcome-screen .sign-btn {
      font-size: 17px; } }
  @media only screen and (max-width: 1300px) {
    .welcome-screen .left-space {
      flex-basis: 26%; }
    .welcome-screen .flex-w, .welcome-screen p {
      flex-basis: 48%; }
    .welcome-screen h1 {
      font-size: 63px; }
    .welcome-screen h3 {
      font-size: 31px; }
    .welcome-screen p {
      font-size: 19px; } }
  @media only screen and (max-width: 1200px) {
    .welcome-screen .left-space {
      flex-basis: 25%; }
    .welcome-screen .flex-w, .welcome-screen p {
      flex-basis: 50%; }
    .welcome-screen h1 {
      font-size: 60px; }
    .welcome-screen h3 {
      font-size: 30px; } }
  @media only screen and (max-width: 1100px) {
    .welcome-screen h1 {
      font-size: 56px; }
    .welcome-screen h3 {
      font-size: 2px; } }
