.sign-in-screen {
  display: flex;
  width: 100%;
  height: stretch;
  border-bottom: 2px solid #009; }
  .sign-in-screen header {
    flex-basis: 100%;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    align-items: center;
    padding: 80px 0; }
    .sign-in-screen header .take50 {
      flex-basis: 50%; }
    .sign-in-screen header .flex-w {
      width: 650px; }
  .sign-in-screen h1 {
    color: white;
    margin: 0;
    font-size: 76px; }
  .sign-in-screen h3 {
    color: white;
    margin: 0;
    font-size: 40px; }
  .sign-in-screen .sign-btn {
    color: white; }
    .sign-in-screen .sign-btn:hover, .sign-in-screen .sign-btn:focus {
      color: white; }
