.NotificationsTable {
    thead tr {
      th {
         border-bottom: 1px solid #555;
      }


        // tr {
        //
        //
        //     border: none;
        //     // border: 1px solid red;
        //
        // }
    }
    tbody {
        td {
            padding-top : 0 !important;
            padding-bottom: 0 !important;
        }
        input, .TextField {
           width: 100%;
           border: none;
           line-height: 2;
        }
    }
    @media (max-width: 700px) {
        table, td, tr, th {
                display: block;

        }
    }
    .notificationDone {
      color: #0f0;
   }
   .next-column, .details-column, .title-column{
      >div>div:before, div>div:after {
         height: 0;
      }
   }
   .MuiInput-inputMultiline-18 {
     font-size: 12px;
   }
}
