.NotificationsTable thead tr th {
  border-bottom: 1px solid #555; }

.NotificationsTable tbody td {
  padding-top: 0 !important;
  padding-bottom: 0 !important; }

@media (max-width: 700px) {
  .NotificationsTable table, .NotificationsTable td, .NotificationsTable tr, .NotificationsTable th {
    display: block; } }

.NotificationsTable .notificationDone {
  color: #0f0; }

.NotificationsTable .next-column > div > div > div:before, .NotificationsTable .next-column div > div > div:after, .NotificationsTable .details-column > div > div > div:before, .NotificationsTable .details-column div > div > div:after, .NotificationsTable .title-column > div > div > div:before, .NotificationsTable .title-column div > div > div:after {
  height: 0; }

.NotificationsTable .date-column input {
  border: none; }

.NotificationsTable .date-column {
  width: 80px; }
