.NotificationsTable {
    thead tr {
      th {
         border-bottom: 1px solid #555;
      }
    }
    tbody {
        td {
            padding-top : 0 !important;
            padding-bottom: 0 !important;
        }
        // input, .TextField {
        //    width: 100%;
        //    border: none;
        // }
    }
    @media (max-width: 700px) {
        table, td, tr, th {
                display: block;

        }
    }
    .notificationDone {
      color: #0f0;
   }
   .next-column, .details-column, .title-column{
      >div>div>div:before, div>div>div:after {
         height: 0;
      }
   }
   .date-column input {
      border: none
   }
   .date-column {
      width: 80px;
   }

}
